<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vantage - Curso de tecnologia para todos</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">


    <link
            rel="stylesheet"
            th:href="@{/css/animatecss.css}"
    />
    <style>
        #typed-subtext::after{
            content: "|";
            margin-left: 5px;
            opacity: 1;
            animation: pisca .6s infinite;
        }

        @keyframes pisca {
            0%, 100%{
                opacity: 1;
            }
            50%{
                opacity: 0;
            }
        }
        .typed-subtext {
            padding-top: 20px;
            display: inline-block; /* Para permitir a aplicação do padding */
        }


    </style>

    <script th:src="@{/css/tailwind.css}"></script>

    <script src="https://kit.fontawesome.com/63a703aaf9.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="font-[Poppins] h-screen">

    <header class="bg-white">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div>
                <img class="w-48 py-4 cursor-pointer" th:src="@{/img/vantage-logo.png}" alt="...">
            </div>
            <div class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[20vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="#">Início</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="/cursos">Cursos</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Sobre</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-2">
                <button class="bg-[#011F26] text-white px-5 py-2 rounded-full hover:bg-[#F2A71B] transition-all" >Entrar</button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
        </nav>
    </header>

    <section class="hero-section bg-[#011F26]" >
        <div class="px-4 pt-10 pb-2 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:pt-24">
            <div class="flex flex-col w-full mb-12 text-center">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mx-auto mb-5 text-[#F2A71B] rounded-full bg-gray-50">
                    <ion-icon class="w-10 h-10 icon icon-tabler icon-tabler-aperture"  name="code-outline"></ion-icon>
                </div>
                <h1 class="max-w-5xl md:h-28 h-16 text-4xl font-bold leading-none tracking-tighter text-white md:text-5xl lg:text-6xl lg:max-w-7xl">
                    Estude grátis:
                    <br class="block"><span id="typed-subtext" class="typed-subtext"></span>
                </h1>


                <p class="max-w-xl mx-auto mt-20 md:mt-12 text-base leading-relaxed text-center text-gray-200">Aprenda tecnologia gratuitamente com nossa plataforma de cursos online. Desenvolva habilidades, explore tendências e construa seu caminho no mundo digital.</p>
            </div>
        </div>
    </section>

    <section class="w-full bg-white dark:bg-wickeddark">
        <div class="relative items-center w-full px-5 py-4 md:py-10 mx-auto md:px-12 lg:px-16 max-w-7xl">
            <div class="flex w-full mx-auto text-left">
                <div class="relative inline-flex items-center mx-auto align-middle">
                    <div class="pb-8 text-center">
                        <h1 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
                            Muitas empresas <br class="hidden lg:block">
                            procuram novos talentos
                        </h1>
                    </div>
                </div>
            </div>

            <div class="mx-auto text-center">
                <div class="grid grid-cols-5 gap-4 mx-auto lg:grid-cols-5">
                    <div>
                        <img class="h-4 mx-auto lg:h-12" src="https://d33wubrfki0l68.cloudfront.net/5a364f2e7cfeadd0f603cdfeda83f5cd0509770d/3f0ae/images/logos/logoone.svg" alt="Figma">
                    </div>
                    <div>
                        <img class="h-4 mx-auto lg:h-12" src="https://d33wubrfki0l68.cloudfront.net/ab0d1eeefb9cddb55f05f1601b2ae3fbae9317a9/5bfbe/images/logos/logotwo.svg" alt="Framer">
                    </div>
                    <div>
                        <img class="h-4 mx-auto lg:h-12" src="https://d33wubrfki0l68.cloudfront.net/2fea2d550675d7cf3bb77a515487bce6c086051b/951f5/images/logos/logothree.svg" alt="Sketch ">
                    </div>
                    <div>
                        <img class="h-4 mx-auto lg:h-12" src="https://d33wubrfki0l68.cloudfront.net/f9b8da8b1442382848d30275dc2d0337d14a04c9/dc8f4/images/logos/logofour.svg" alt="Sketch ">
                    </div>
                    <div>
                        <img class="h-4 mx-auto lg:h-12" src="https://d33wubrfki0l68.cloudfront.net/07ddf740e29509004147c6a83c09f299366546c9/03a26/images/logos/logofive.svg" alt="Invision">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="categories" class="my-12 bg-[#011F26]">
        <div class="container pt-5 pb-20 mx-auto">
            <h1 class="flex justify-center font-medium my-5 text-white text-3xl font-bold leading-none tracking-tighter">Em alta</h1>

            <div class=" transition-all flex flex-row justify-center gap-2 items-center text-center flex-wrap pl-4 md:pl-0">
                <div class="elemento hidden transition-all basis-[45%] md:basis-[10.93%] bg-[#f2f2f2] cursor-pointer rounded mr-3 p-5 hover:opacity-75 group hover:-translate-y-2 animate__animated">
                    <div class="bg-white rounded-full m-0 mx-auto w-20 h-20 p-2.5 scale-90 group-hover:scale-125 flex justify-center items-center">
                        <i class="fa-brands text-purple-600 fa-bootstrap w-16 h-16"></i>
                    </div>
                    <h4 class="mt-4 mb-2 font-medium">
                        Bootstrap
                    </h4>
                    <p class="text-gray-500 text-xs">
                        2 Cursos
                    </p>
                </div> <!-- End Single Category Item -->
                <div class="elemento hidden transition-all basis-[45%] md:basis-[10.93%] bg-[#f2f2f2] cursor-pointer rounded mr-3 p-5 hover:opacity-75 group hover:-translate-y-2 animate__animated ">
                    <div class="bg-white rounded-full m-0 mx-auto w-20 h-20 p-2.5 scale-90 group-hover:scale-125 flex justify-center items-center">
                        <i class="fa-brands text-orange-500 fa-html5 w-16 h-16"></i>
                    </div>
                    <h4 class="mt-4 mb-2 font-medium">
                        HTML5
                    </h4>
                    <p class="text-gray-500 text-xs">
                        3 Cursos
                    </p>
                </div> <!-- End Single Category Item -->
                <div class="elemento hidden transition-all basis-[45%] md:basis-[10.93%] bg-[#f2f2f2] cursor-pointer rounded mr-3 p-5 hover:opacity-75 group hover:-translate-y-2 animate__animated ">
                    <div class="bg-white rounded-full m-0 mx-auto w-20 h-20 p-2.5 scale-90 group-hover:scale-125 flex justify-center items-center">
                        <i class="fa-brands fa-java w-16 h-16"></i>
                    </div>
                    <h4 class="mt-4 mb-2 font-medium">
                        Java
                    </h4>
                    <p class="text-gray-500 text-xs">
                        5 Cursos
                    </p>
                </div> <!-- End Single Category Item -->
                <div class="elemento hidden transition-all basis-[45%] md:basis-[10.93%] bg-[#f2f2f2] cursor-pointer rounded mr-3 p-5 hover:opacity-75 group hover:-translate-y-2 animate__animated ">
                    <div class="bg-white rounded-full m-0 mx-auto w-20 h-20 p-2.5 scale-90 group-hover:scale-125 flex justify-center items-center">
                        <i class="fa-brands text-blue-400 fa-react w-16 h-16"></i>
                    </div>
                    <h4 class="mt-4 mb-2 font-medium">
                        React
                    </h4>
                    <p class="text-gray-500 text-xs">
                        7 Cursos
                    </p>
                </div> <!-- End Single Category Item -->
                <div class="elemento hidden transition-all basis-[45%] md:basis-[10.93%] bg-[#f2f2f2] cursor-pointer rounded mr-3 p-5 hover:opacity-75 group hover:-translate-y-2 animate__animated ">
                    <div class="bg-white rounded-full m-0 mx-auto w-20 h-20 p-2.5 scale-90 group-hover:scale-125 flex justify-center items-center">
                        <i class="fa-brands fa-node-js text-green-500 w-16 h-16"></i>
                    </div>
                    <h4 class="mt-4 mb-2 font-medium">
                        Node.js
                    </h4>
                    <p class="text-gray-500 text-xs">
                        2 Cursos
                    </p>
                </div> <!-- End Single Category Item -->
                <div class="elemento hidden transition-all basis-[45%] md:basis-[10.93%] bg-[#f2f2f2] cursor-pointer rounded mr-3 p-5 hover:opacity-75 group hover:-translate-y-2 animate__animated ">
                    <div class="bg-white rounded-full m-0 mx-auto w-20 h-20 p-2.5 scale-90 group-hover:scale-125 flex justify-center items-center">
                        <i class="fa-brands fa-laravel text-orange-600 w-16 h-16"></i>
                    </div>
                    <h4 class="mt-4 mb-2 font-medium">
                        Laravel
                    </h4>
                    <p class="text-gray-500 text-xs">
                        2 Cursos
                    </p>
                </div> <!-- End Single Category Item -->
            </div>
        </div>
    </section>

    <section class="cursos">

    </section>

    <script th:src="@{/js/jquery.js}"></script>

    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e){
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[11%]')
        }

        const subTitle = document.querySelector("#typed-subtext");
        const texts = ["HTML", "CSS", "Javascript", "Java", "Spring Boot", "React.js"]; // Adicione os textos que deseja usar
        let textIndex = 0;
        let charIndex = 0;
        let isDeleting = false;

        function typeWriter() {
            const currentText = texts[textIndex];
            if (isDeleting) {
                subTitle.textContent = currentText.substring(0, charIndex - 1);
                charIndex--;
            } else {
                subTitle.textContent = currentText.substring(0, charIndex + 1);
                charIndex++;
            }

            if (!isDeleting && charIndex === currentText.length + 1) {
                isDeleting = true;
                setTimeout(typeWriter, 1000); // Tempo antes de começar a apagar o texto
            } else if (isDeleting && charIndex === 0) {
                isDeleting = false;
                textIndex = (textIndex + 1) % texts.length;
                setTimeout(typeWriter, 200); // Intervalo menor durante a deleção
            } else {
                const timeout = isDeleting ? 40 : 80;
                setTimeout(typeWriter, timeout);
            }
        }

        typeWriter(); // Inicializa a função

        $(document).ready(function() {
            $(window).scroll(function() {
                $('.elemento').each(function() {
                    var elementoPosicao = $(this).offset().top;
                    var windowHeight = $(window).height();
                    var scrollPosicao = $(window).scrollTop();

                    if (scrollPosicao > elementoPosicao - windowHeight + 200) {
                        $(this).removeClass('hidden');
                        $(this).addClass('animate__fadeInUp block');
                    }
                });
            });
        });
    </script>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>